<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Create Group</h4>
</div>
<div class="modal-body">
    <fieldset>
        <div class="form-group">
            <label for="inputGroupName" class="col-lg-2 control-label">Group Name</label>

            <div class="col-lg-8">
                <input class="form-control" id="inputGroupName" placeholder="Group Name" type="text">
            </div>
        </div>
    </fieldset>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button id="create-group-button" type="button" class="btn btn-primary" data-dismiss="modal">Create Group</button>
</div>